@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
 :root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
} */

body {
   /* height: 1000px;
   m */
   /* margin: 0;
   padding: 0; */
    line-height: 1.5;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
    /* height: 1000px; */
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;

    outline: none;
    box-sizing: border-box;
}

::before,::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    
    background-color: #111;
    min-height: 100vh;
    display: block;
    position: fixed;
    padding: 0 30px;
    opacity: 1;
    left: 220px;
    right: 0;
    top: 0; 
    bottom: 0;
   z-index: 0;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}
.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.hidden {
    display: none !important;
}





/* aside */

.aside {
    width: 220px;
    background: #111;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid goldenrod;
    padding: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
}
.nav {
    display: flex;
    flex-direction: column;

}






/* Home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}






/* About */

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
    
}






/* Services */

.service .container {
    padding-bottom: 45px;
}










/* Contact */



@media (max-width: 999px) {
    .section .container {
        padding-top: 80px;
    }
    .aside {
        left: -270px;
    }
    .aside.open {
        left: 0;
    }
    .aside .nav-toggler.open {
        left: 300px;
    }
    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }
    .section.open {
        left: 270px;
    }
    .section{
        left: 0;
    }

   
}

@media (max-width: 991px) {
   
}


@media (max-width: 767px) {
    

    .main-content {
        overflow-x: hidden;
    }
}


* MAIN BODY */

.teamImage {
   width: 20%;
   min-width: 70%;
   background-color: transparent;
}

.bio {
text-align: center;
margin-right: 120px;
 
}


.detail, .detail2 {
  font-weight: bold !important;
  color: goldenrod;
}

.name, .about {
  color: #fff !important;
  font-weight: bold;
}

.SocialH, .SocialH2{
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.about2, .about {
  font-family: var(--second-fontFamily);
}

.social2, .social3 {
  
  color: #fff !important;
  font-size: 24px;
}



@media (max-width: 420px) {
  #imageRow{
     display: grid;
   
     grid-gap:10px !important;
     margin-top: 120px;
     padding: 50px !important;
     transition: 7s linear; 
}

.carousel-indicators {
  position: relative;
  top: 120% !important;
}
.fa-angle-right {
  
  font-size: 20px !important;
  
  padding: 10px !important;
  border-radius: 50%; 
 
}
.fa-angle-left {
  color: white !important;
  font-size: 20px !important;
 
  padding: 20px !important;
  border-radius: 50%; 

}

.carouselImage {
  width: 200px !important;
}

}

@media(max-width:994px){
  
  #imageRow{
    display: grid;
    /* grid-template-columns: 49% 49% !important; */
    grid-gap:10px;
    margin-top: 10px;
    padding: 50px;
    transition: 2s linear;
    display: none;
    animation:  carousel 6s linear;
}

h1 {
   color: goldenrod;
   text-align: center;
   margin-top: 20px;
}

#demo1 {
  max-height: 100%;
  margin-top: 20px;
  animation:  carousel 6s linear;
}

@keyframes carousel {
  0% {
     transform: translateY(50px);
     opacity: 0;
  }

50% {
     transform: translate(0);
     opacity: 1;
  }

  70% {
     transform: translateY(0);
     opacity: 1;
  }
 100%{
     transform: translateY(0);
     opacity: 1;
     
 }
}


.fa-angle-right {
  color: white !important;
  font-size: 70px;
 
  padding: 20px !important;
  border-radius: 50%; 
  
  /* border: 2px solid goldenrod; */
}
.fa-angle-left {
  color: white !important;
  font-size: 70px;
  /* background-color: goldenrod; */
  /* box-shadow: 0 4px 10px 0 goldenrod,  0 6px 10px 0 green; */
  padding: 20px !important;
  border-radius: 50%; 

}
}


.h1 {
   color: goldenrod;
   font-size: 30px;
   /* display: block; */
   margin-top: 80px;
   text-align: center;
   animation: imageRow 3s ease;
   /* border-bottom: 1px solid goldenrod; */
   /* max-width: 100%; */
   display: flex;
   justify-content: center;
   align-items: center;
}
.h1::after {
   content: '';
   width: 40%;
   left: 35%;
   /* right: 0; */
   height: 100px;
   position: absolute;
   border-bottom: 1px solid goldenrod;
}




/*  BiG SCREEN TEAM SECTION */



 @media (min-width: 1000px) {

   
   .overall{
      display: grid;
      grid-template-columns: 5% 55% 40%;
      
 }
 
 
 /* .aside{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
     /* left: 20%; */
     /* margin-left: 12px; */
     /* margin: 7px 12px;
     /* top: 0; */
     /* position: relative; */
     /* left: 15px; */
 /* }  */
 
 
 .button {
     width: 70px;
     /* margin-left: 30% !important; */
     height: 140px;
     /* margin-left: 30% !important; */
     margin: 20px 20px;
     background-color: transparent;
     border: 2px solid rgb(13, 82, 13);
     padding: 20px;
     color: #ccc !important;
     cursor: pointer;
     /* background-color: rgba(13, 82, 13, 0.3); */
     /* box-shadow: 20px 20px rgb(13, 82, 13); */
     box-shadow: 0 0 10px rgb(13, 82, 13);
     /* position: fixed; */
     border-radius: 6px;
     transition: all 0.9s ease;
 }
 
 .button:hover{
    -ms-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
 }
 
 .button span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
 }
 .img{
     border: 3px solid rgb(13, 82, 13);
     width: 70%;
     box-shadow: 10px 10px 10px rgb(13, 82, 13);
     transition: all 0.9s ease;
 }
 
 .img:hover {
    
       -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.04);
    
 }
 
 
 .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 }
   
 #imageRow{
   display: grid;
   grid-template-columns: 35% 35% 35% !important;
   /* overflow: hidden; */
   /* grid-gap:15px; */
   padding: 50px;
   margin-top: 10px;
   animation: imageRow 2s ease;
 
 }
 /* .main-body {
    width: 175%;
 
    display: none;
    /* overflow: scroll; */
 /* }  */
 
 
 @keyframes slideSection {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
 }
 
 @keyframes imageRow {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
 
  100%{
      transform: translateX(0);
      opacity: 1;
      
  }
 }
 .containerS {
   padding-left: 50px;
   /* padding-right: -90% !important; */
  
 }
   
    @keyframes shake {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(5deg); }
      50% { transform: rotate(0deg); }
      75% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    }

   #media{
      display: none;
  }

   .nav-link {
     color: #fff !important;
     font-size: 11px;
  }
   #demo1 {
      border-radius: 16px; 
      max-width: 100%;
      width: 90%;
      top: 20px;
   }
   @keyframes move-to-right{
      0%{
          transform: translateX(-100%);
      }
      100%{
          transform: translateX(0%);
      }
     }
     @keyframes move-to-left{
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(0%);
      }
     }
     .details-left2{
      animation: move-to-right 0.9s ease 0s 1 ;
     }
     .details-right2{
      animation: move-to-left 0.9s ease 0s 1 ;
     }

     .carousel-item {
      transition:0.30ms ease;
     }
   
      .overall {
         position: relative;
         bottom: -30%;
         top: 50%;
      }
   
      .secsion {
       /* display: none; */
         position: relative;
         top: 25%;
         bottom: -30%;
         right: 3%;
         /* width: 169%; */
         max-width: 180%;
         /* display: none; */
         margin-top: 2px;
         margin-left: 120px;
         max-height: 100vh;
         height: 70vh; 
         animation: imageRow 2s ease; 
      }

      .textSmallScreen {
         /* display: none; */
      }
   
     
      .imgsec{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100vh;
         margin-top: 20px;
         animation: imageRow 2s ease;
         /* position: fixed; */
     }

     .open2 {
      display: flex !important;
         justify-content: center !important;
         align-items: center !important;
         width: 100%;
         height: 100vh;
         /* margin-left: 25%; */
         /* margin-top: 30%; */
         animation: imageRow 2s ease;
     }

     .open3 {
       
         /* /* padding-top: 10%;8 */
           display: flex !important;
         justify-content: flex-start !important;
         align-items: center !important; 
        width: 100%;
        height: 100vh;
        color: #ccc;
        background: rgba(0,0,0,0.1);
        animation: imageRow 2s ease;
      
     }
      
     

     
   
      .img {
    /* height: 100vmin; */
    height: 70vh;
      }
   
      .textP {
         /* padding-top: 10%; */
        

      }
      .imgsec {
         /* height: 500vh; */
         width: 100%;
      }
   




   #imageSpan .ghost1, #imageSpan2 .ghost1, 
   #imageSpan3 .ghost1, #imageSpan4 .ghost1,
   #imageSpan5 .ghost1, #imageSpan6 .ghost1, 
   #imageSpan7 .ghost1, #imageSpan8 .ghost1, 
   #imageSpan9 .ghost1, #imageSpan10 .ghost1 {
      width: 160%;
      max-width: 400%;
      max-height: 400%;
      height: 12vh;
      opacity: 9;
      background-color: transparent;
      transition: transform .2s;
   }
   
  
   #imageSpan, #imageSpan2, 
   #imageSpan3, #imageSpan4, 
   #imageSpan5, #imageSpan6, #imageSpan7,
   #imageSpan8, #imageSpan9,#imageSpan10 {
      padding: 15px;
      width: 140vh;
      height: 30vh;
      margin-top: -1%;
      left: 40px;
   } 
   


   #imageSpan .ghost1:hover,   #imageSpan2 .ghost1:hover,   #imageSpan3 .ghost1:hover,
    #imageSpan4 .ghost1:hover,   #imageSpan5 .ghost1:hover,   #imageSpan6 .ghost1:hover,
    #imageSpan7 .ghost1:hover,   #imageSpan8 .ghost1:hover,   #imageSpan9 .ghost1:hover,
    #imageSpan10 .ghost1:hover {
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
   }
  
   .red{
      color: white !important;
   }

   #imageSpan7 .g2, #imageSpan3 .g2 {
      max-width: 90%;
    
      padding-left: 20px;
    
   }
   .carouselImage {
      max-width: 50%;
      width: 30%;
      max-height: 500px;
      height: 350px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 100px;
    
      
   }
  
   .carousel-caption {
      display: flex;
      /* justify-content: center; */
      justify-content: center !important;
      /* justify-content: space-around; */
      align-items: center !important;
      /* margin-right */
      /* margin-left: 25%; */
      /* right: 10%; */
      left: 27%;
      /* position: absolute; */
      /* top: 3vh; */
      max-width: 100%;
      margin-right: -12%;
   }

   .goldText {
      
      /* margin: 12px; */
      /* padding-top: 50px; */
      /* margin-top: 30px; */
      max-height: 145px;
      padding-bottom: 30px;
   }
   
   .typeSection {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      max-width: 650px;
      margin: auto;
      
   }
   .typeDiv {
     background-color: #ddd;
     padding: 20px 40px;
     margin: 10px;
     
     border-radius: 5px;
  
   }
  
   .fa-angle-left {
      font-size: 180px;
      font-weight: 800;
   }
  
   .fa-angle-right {
      font-size: 180px;
      font-weight: 800;
   }
  
   .carousel-control-prev {
      position: absolute;
       margin-left: -100px; 
      opacity: 7;
   }
  
   .carousel-control-next{
      position: absolute;
      margin-right: -100px;
      opacity: 7;
   }
   
   .carousel-indicators {
      display: flex;
      justify-content: space-around;
      position: absolute;  
      top: 87%;
      
   }

   #prevBtn {
      display: none;
   }

} 
  



/* SMALL SCREEN */
@media (max-width: 999px) {
   /* .overall {
      display: none;
   } */
   
   
}
@media (max-width: 999px) {
   

   ul{
     list-style: none;
  }
  a{
     text-decoration: none;
  }
  
 
  
  
  #demo2{
     /* margin: 10px; */
     padding: 5px;
     /* background: transparent; */
     border-radius: 16px;
     max-width: 100%;
     width: 100%;
     height: 80vh;
     margin-top: 40px;
    
     /* bottom: 10px; */
  }
  @keyframes move-to-right{
   0%{
       transform: translateX(-100%);
   }
   100%{
       transform: translateX(0%);
   }
  }
  @keyframes move-to-left{
   0%{
       transform: translateX(100%);
   }
   100%{
       transform: translateX(0%);
   }
  }
  .details-left{
   animation: move-to-right 0.5s ease 0s 1 ;
  }
  .details-right{
   animation: move-to-left 0.5s ease 0s 1 ;
  }
  .carousel-item{
     left: 0;
     width: 100vw;
     padding: 5px;
     transition:0.10ms ease;
  }
  
  .model{
     /* margin-top: ; */
     max-height: 250px;
     height: 60%;
     max-width:100%;
     width: 340px;
  }
  .details{
  
     margin-bottom: 230px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: auto;
     
  }
  
  .bio-btn{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 30px;
  }
  .atri-btn{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
  }
  .btn-div{
      
     margin-bottom: 10px;
     display: flex;
     justify-content: center;
     margin: 10px;
  
  } 
  .btn3{
     font-size: 10px;
     text-transform: uppercase;
     background: transparent;
   
     border: 0;
  } 
  
  .btn2{
     
      font-size: 10px;
     text-transform: uppercase;
     background: transparent;
     border: 0;
     
   
  } 

  .bio {
   text-align: center;
   margin-right: 190px !important;
}
  .bazz{
     
     color: #000;
     font-size: 25px;
     font-weight: bold;
  }
  .para{
     margin-top: 10px;
   text-align: justify;
     font-size: 12px;
   
  }
  .para2{
     
     display: none;
     font-weight: bold;
     text-align: center;
     align-items: center;
     color: #000;
  }
  .ul{
     background: #333232cc;
     margin-left: 2px;
     margin-right: 0;
     
     text-align: left;
     font-size: 11px;
     padding: 5px 5px;
     height: 2.5rem;
     width: 100%;
     
  }
  .atri{
     display: grid;
     grid-template-columns: 130px 130px;
     grid-gap: 10px;
  }
  .arrow{
     position: absolute;
     top: 700px;
     opacity: 7;
     right: 0px;
     color: #fff;
  }
  .arrow2{
     position: absolute;
     top: 700px;
     left: 0px;
     opacity: 7;
     color: #fff;
  }
  .carousel-control-next{
     font-size: 50px;
  }
  .carousel-control-prev{
     font-size: 50px;
  }

  .carousel-caption {
   position: relative;
  margin-top: 7% !important;
  /* margin-left: -40%;  */
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  
}

.carousel-indicators {
  position: relative;
  top: 130%;
}

.carouselImage2 {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
 
  
}
#demo3 {
   height: 500px;
 }
  
  }
  
 @media(min-width:1000px){
  .section{
   /* display: none; */
  }
  }

  

 @media (min-width: 999px) {
   #demo3 {
      /* display: none; */
      
    }
 }



 